* {
     font-family: 'Gloria Hallelujah', cursive;
}

body {
     background-color: #8294C4;
}

.container {
     padding-top: 8rem;
     top: 60%;
     left: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.container-1 {
     display: flex;
     align-items: center;
     flex-direction: row;
     text-align: center
}

button {
     margin: 3rem;
     align-items: center;
     justify-content: center;
     padding: 20px;
     padding-top: 5px;
     padding-bottom: 46px;
     font-weight: bold;
     border-style: none;
     font-size: 20px;
     cursor: pointer;
}

.value {
     font-size: 20px;
     color: #FFF8DE;
}

.r {
     font-size: 30px;
     color: aqua;
}

.p {
     font-size: 30px;
     color: aquamarine;
}

.s {
     font-size: 30px;
     color: beige;
}

.rock {
     color: #B9EDDD;
}

.rock:hover {
     transition: 0.4s;
     transform: rotate(10deg);
}

.paper {
     color: #F1F6F9;
}

.paper:hover {
     transition: 0.4s;
     transform: rotate(-10deg);
}

.scissor {
     color: #ECC9EE;
}

.scissor:hover {
     color: #ECC9EE;
     transition: 0.4s;
     transform: rotate(10deg);
}

h1 {
     font-size: 50px;
}

button:hover{
     transition: 0.2s;
     color: #ffff;
}